main .quote blockquote {
  position: relative;
  background-color: var(--clr-grey-400);
  border-inline-start: 5px solid rgb(0 0 0 / 30%);
  padding: 1.5rem 2rem .5rem;
}

main .quote blockquote > p:first-child {
  text-indent: 2.5rem;
}

main .quote blockquote::before {
  content: open-quote;
  position: absolute;
  font-size: 5rem;
  top: -1rem;
} 