main .code {
  position: relative;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  padding: 2.7rem 1rem 1rem;
  border-radius: 0.5em;
  margin-inline: auto;
  max-width: min(800px, 100%);
  margin-block-end: 1rem;
}

main .code pre {
  max-height: 800px;
  overflow: auto;
  margin: 0;
}


main .code button {
  position: absolute;
  top: .5rem;
  right: 1rem;
  margin: 0;
  opacity: .5;
  transition: opacity .5s;
}

main .code button:hover,
main .code button:focus {
  opacity: 1;
} 

/* main .code {
  position: relative;
  max-width: min(800px, 100%);
  margin-inline: auto;
}

main .code pre {
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  max-height: 800px;
  overflow: auto;
  padding: 2.7rem 1rem 1rem;
  border-radius: 0.5em;
}

*/