@media (width >=900px) {
  .blog main {
    display: grid;
    grid-template-columns: minmax(50%, 2fr) minmax(300px, 1fr);
    max-width: var(--max-content-width);
    margin: 0 auto;
    gap: 3rem;
  }

  .blog main .section {
    padding-inline: var(--inline-section-padding) 0;
  }

  .blog main aside {
    padding-inline: 0 var(--inline-section-padding);
  }

  .blog main aside .section {
    padding-inline: 0;
  }
}