@import url('../blog/blog.css');

.post main h1 {
  margin-bottom: 0;
  color: var(--clr-red-400);
}

.post main .post-date {
  font-size: var(--body-font-size-xs);
  color: var(--clr-grey-500);
  margin-bottom: 1.5em;
}

.post main .post-date a:any-link {
  text-decoration: underline dotted;
  text-underline-offset: 4px;
}

.blog main .section:not(.archives-container) a:any-link {
  color: var(--clr-red-400);
}

.blog main .section:not(.archives-container) a:hover {
  color: var(--clr-red-500);
}