main .posts a:any-link {
  color: var(--clr-red-400);
}

main .posts a:hover {
  color: var(--clr-red-500);
}

main .posts .posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .posts .posts-list .post-item .post-title h2 {
  margin: 0;
  font-size: var(--heading-font-size-l);
}

main .posts .posts-list .post-item .post-date {
  font-size: var(--body-font-size-xs);
  color: var(--clr-grey-500);
  margin-bottom: .5em;
}

main .posts .posts-list .post-item .post-description + a {
  font-size: var(--body-font-size-s);
  font-weight: 700;
}

main .posts .posts-list .post-item .post-date a:any-link {
  text-decoration: underline dotted;
  text-underline-offset: 4px;
}

main .posts .posts-list .post-item .post-description {
  font-size: var(--body-font-size-s);
  margin-bottom: .3em;
}
