/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* end reset */

:root {
  /* color definitions */
  --clr-white: #fff;
  --clr-black: #000;
  --clr-red-400: #ce2f00;
  --clr-red-500: #9b2300;
  --clr-blue-400: #2a6496;
  --clr-blue-500: #205181;
  --clr-grey-400: #f5f5f5;
  --clr-grey-500: #666;
  --clr-grey-600: #333;
  --clr-grey-700: #222;

  /* element colors */
  --link-color: var(--clr-blue-400);
  --link-hover-color: var(--clr-blue-500);
  --background-color: var(--clr-white);
  --light-color: var(--clr-grey-400);
  --dark-color: var(--clr-grey-600);
  --text-color: var(--clr-grey-600);

  /* fonts */
  --body-font-family: lato, lato-fallback;
  --heading-font-family: merriweather-sans, merriweather-sans-fallback, serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 1.25rem;
  /* 24px */
  --body-font-size-s: 1.125rem;
  /* 18px */
  --body-font-size-xs: 1rem;
  /* 16px */


  /* heading sizes */
  --heading-font-size-xxl: clamp(2.75rem, 4.4vw, 3.5rem);
  --heading-font-size-xl: clamp(2.25rem, 3.5vw, 3.125rem);
  --heading-font-size-l: clamp(1.875rem, 3.1vw, 2.675rem);
  --heading-font-size-m: clamp(1.5rem, 2.4vw, 2.125rem);
  --heading-font-size-s: 1.25rem;
  --heading-font-size-xs: 1rem;

  /* layout constaints */
  --max-content-width: 90rem;
  --inline-section-padding: 1rem;

  /* nav height */
  --nav-height: 3rem;
}

@media (width >=600px) {
  :root {
    --inline-section-padding: 2rem;
  }
}

@media (width >=900px) {
  :root {
    --inline-section-padding: 4rem;
  }
}

@font-face {
  font-family: merriweather-sans-fallback;
  size-adjust: 106.27%;
  ascent-override: 110%;
  src: local("Arial");
}

@font-face {
  font-family: lato-fallback;
  size-adjust: 97.33%;
  src: local("Arial");
}

html {
  scroll-padding-top: calc(var(--nav-height) + 2.5rem);
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

@media (width >=900px) {
  body {
    font-size: var(--body-font-size-m);
  }
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 1em;
  scroll-margin: calc(var(--nav-height) + 1em);
  text-wrap: balance;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  margin-bottom: .6em;
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

.icon {
  --icon-size: 1.5rem;

  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding-block: 2rem;
  padding-inline: var(--inline-section-padding);
}

@media (width >=600px) {
  .section > div {
    max-width: var(--max-content-width);
    margin: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}